@{
    ViewData["Title"] = "Pedidos productos";
}

<div>
    <section>
        <div class="container py-5 pt-0">
            <div class="row justify-content-center bg-white pb-5" id="contProductos" style="border-radius: 15px;">
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script src="~/js/home.js" asp-append-version="true"></script>
}
